header{
    background-color: #111216;
}

.avatar-button {
  display: inline-block;
  border: 2px solid #FE2C55;
  border-radius: 50%; 
  overflow: hidden; /* Обрезает изображение по границе круга */
  width: 44px; 
  height: 44px; 

}

.avatar-button img {
  width: 100%; 
}

.avatar-message {
  display: inline-block;
  border: 2px solid #FE2C55;
  border-radius: 50%; 
  overflow: hidden; /* Обрезает изображение по границе круга */
  width: 38px; 
  height: 38px; 

}

.avatar-message img {
  width: 100%; 
}

.button-alert{
  background-color: #111216;
  border: none;
}

.text-notifications{
  color: #C3C3C3;
}

.text-name{
  color: white;
}

.popover{
  background-color: #1F2027;
  border: 2px solid #5B5C63; 
  width: 330px;
}
.popover-header{
  background-color: #1F2027;
  color: white;
}

.videoYved{
  width: 75px;
  height: 45px;
}

