header{
    background-color: #111216;
}

.avatar-button {
  display: inline-block;
  border: 2px solid #FE2C55;
  border-radius: 50%; 
  overflow: hidden; /* Обрезает изображение по границе круга */
  width: 44px; 
  height: 44px; 
  padding: 0;
  margin: 0;
}

.avatar-button img {
  background-image: url('/public/img/avatarHeader.png');
  width: 100%;
  height: 100%;
}

.avatar-message {
  display: inline-block;
  border: 2px solid #FE2C55;
  border-radius: 50%; 
  overflow: hidden; /* Обрезает изображение по границе круга */
  width: 38px; 
  height: 38px; 

}

.AuthReg{
  background-color: #1F2027;
}



.button-alert{
  background-color: #111216;
  border: none;
}

.text-notifications{
  color: #C3C3C3;
}

.text-name{
  color: white;
}

.popover{
  background-color: #1F2027;
  border: 2px solid #5B5C63; 
  width: 330px;
}
.popover-header{
  background-color: #1F2027;
  color: white;
}

.videoYved{
  width: 75px;
  height: 45px;
}

.modal-header{
  justify-content: center;
}

input{
  background-color: #111216;
  border: none;
  width: 100%;
  height: 3rem;
}

.textred{
  color: #FE2C55;
}

u {    
    border-bottom: 1px dotted #FE2C55;
    text-decoration: none;
}

.modal-header, .modal-footer {
  border: none;
}

a{
  text-decoration: none;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #FE2C55 !important;
}



.navred{
  background-color: #FE2C55;
}

.navbar{
  background-color: #FE2C55;
}

.navbar:hover{
  background-color: #FF4A73;
}

.textgray{
  color: #C3C3C3;
}
.password-toggle {
  position: relative;
  width: 100%;
}
.password-toggle span {
  background-image: url(images/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  margin-bottom: auto;
  position: absolute;
  margin-top: auto;
  cursor: pointer;
  opacity: 0.3;
  height: 30px;
  width: 30px;
  right: 10px;
  bottom: 0;
  top: 0;
}
.password-toggle span.show {
  background-image: url(images/eye-slash.svg);
}

.textbody{
  color: #C3C3C3;
}

.gray{
  color: #646869;
}

.green{
  background-color: #54A93F;
}

.cardavatar{
overflow: hidden;
display: inline-block;
}

.shest{
  cursor: pointer;
}

.card{
  background-color: #111216;
  overflow: hidden;
  width: 24rem;
}

.round-photo-container {
  width: 143.72px; /* Установите размер контейнера (фотографии + отступы) по вашему усмотрению */
  height: 143.72px; /* Установите размер контейнера (фотографии + отступы) по вашему усмотрению */
  border-radius: 50%; /* Делает контейнер круглым */
  border: 2px solid #FE2C55; /* Бордюр цвета #FE2C55 */
  overflow: hidden; /* Обрезает контент, чтобы сохранить форму круга */
  padding: 21.86px; /* Отступ от края контейнера до бордюра */
}

.round-photo {
  width: 100%; /* Фотография занимает всю ширину контейнера */
  height: 100%; /* Фотография занимает всю высоту контейнера */
  object-fit: cover; /* Сохраняет пропорции фотографии и обрезает ее, чтобы она влезла в контейнер */
}

body{
  background-color: #1F1F27;
}

.cardavatar{
  background-color: #111216;
}

.main{
  background-color: #1F1F27;
}

/* Стилизация общего контейнера */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #111216;
  padding: 4px;
  border-radius: 5px;
  margin: 4px;
}

/* Стилизация иконки поиска */
.search-icon img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Стилизация текстового поля */
.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  width: 100%;
  font-size: 16px;
}

.custom-select {
  color: #C3C3C3;
  background-color: #111216;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}



/* Стили для опций в выпадающем списке */
.custom-select option {
  background-color: #111216;
  color: #C3C3C3;
}

/* Изменения при наведении на опции в выпадающем списке */
.custom-select option:hover {
  background-color: #FE2C55;
  color: #111216;
}
option.selecthov:hover{
  color: #FE2C55;
}

.dropdown-list {
  position: relative;
  display: inline-block;
  color: #C3C3C3;
}

.dropdown-btn {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #111216;
  border: none;
  color: #C3C3C3;
}

.counter-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FE2C55;
  color: #fafafa;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111216;
  border: 1px solid #FE2C55;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #FE2C55;
  color: #111216;
}

.checkbox-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #FE2C55;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FE2C55;
}

.checkbox-icon.checked {
  background-color: #FE2C55;
  color: #111216;
}


